body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#snake {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: top 0.5s, left 0.5s;
}
